<div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center">

  <!-- image-gallery.component.html -->
  <div class="titulo">
    
  <span >CURSOS DE PROGRAMACION</span>
</div>
<div class="thumbnail-container">
  <div class="thumbnail" *ngFor="let image of images; let i = index" (click)="enlargeImage(image)">
    <img [src]="image" alt="Thumbnail" />
    <span class="subtitulo">{{ subtitulos[i] }}</span>
  </div>
</div>

<div class="enlarged-image" *ngIf="selectedImage">
  <img [src]="selectedImage" alt="Enlarged Image" (click)="closeEnlargedView()" />
</div>
</div>