.encabezado{
    font-style:italic;
    font-family: 'Courier New', Courier, monospace;
    font-size: 34px;
    display: table;
    margin: 0%;
    font-weight: 1;
    text-align: left;
   
    /* padding-left: auto; */
  }
 
  