
<div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center center">
<div class="titulo">
    <span>INFORMACION DE CONTACTO</span>
</div>


<mat-card>
    <mat-card-header>
        <mat-card-title>TELEFONO CELULAR</mat-card-title>
        <mat-card-subtitle>(2964) 626613</mat-card-subtitle>


        <mat-card-title>TELEFONO FIJO</mat-card-title>
        <mat-card-subtitle>(2964) 445539</mat-card-subtitle>
        
        <mat-card-title>DIRECCION</mat-card-title>
        <mat-card-subtitle>Provincias Unidas 887, Chacra 2, Rio Grande,Tierra del Fuego</mat-card-subtitle>

        <mat-card-title>EMAIL</mat-card-title>
        <mat-card-subtitle>suarez.jose.230379@gmail.com</mat-card-subtitle>


    </mat-card-header>
    <mat-card-content>
        <P></P>
    </mat-card-content>
</mat-card>

</div>
