.example-card {
    max-width: 500px;
    margin-bottom: 8px;

  }
.alineacion{
    margin-left:auto;
    margin-top: 50px;
}
.just{
    text-align: justify;
}
#fondo {
    background-image: url('/assets/fondo.jpg');
    max-width: 100%;
  }