<mat-card>
    <mat-card-header>
        <mat-card-title>FAPESA</mat-card-title>
        <mat-card-subtitle>periodo febrero 2023 hasta agosto 2023</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>OPERARIO FINAL ASSEMBLY ( TV )</p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>FAPESA</mat-card-title>
        <mat-card-subtitle>periodo junio 2022 hasta diciembre 2022</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>OPERARIO SMT 4 ( AUTOMATICA ) , OPERARIO FINAL ASSEMBLY ( TV )</p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>GRUPO MIRGOR ( AUTO-PARTE ) </mat-card-title>
        <mat-card-subtitle>periodo 2013-2019</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>OPERADOR LOGISTICO DE COMPONENTES ELECTRONICOS ( TOYOTA ).<br>
            OPERADOR DE TESTEO DE FUGAS DE MANGUERAS ( AIRE ACON. AUTOMOTRIZ )<br>
            OPERADOR DE MONTAJE ( AIRE ACONDICIONADO AUTOMOTRIZ ).</p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>GRUPO MIRGOR ( IATEC ) </mat-card-title>
        <mat-card-subtitle>periodo 2009-2013</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>DEPARTAMENTO DE CALIDAD ( ANALISIS DE NO CONFORMIDADES).<br>
            OPERADOR DE ENSAMBLE ( AIRE ACONDICIONADO IDU )</p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>GRUPO MIRGOR ( INTER-CLIMA) </mat-card-title>
        <mat-card-subtitle>periodo 2008-2009</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>OPERADOR DE ENSAMBLE ( AIRE ACONDICIONADO ODU )</p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>FOXMAN </mat-card-title>
        <mat-card-subtitle>periodo 2007</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>OPERADOR DE ENSAMBLE ( MICROONDAS Y AIRE ACONDICIONADO ODU )</p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>PHILIPS </mat-card-title>
        <mat-card-subtitle>periodo 2005-2006</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>OPERADOR DE SMT ( AXIAL, RADIAL, SMT CHIPEO ).</p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>FAMAR DELPHI </mat-card-title>
        <mat-card-subtitle>periodo 2003-2005</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>OPERADOR DE SMT : AXIAL, RADIAL, SMT CHIPEO,INSPECCION VISUAL, <br> INSERCION
            MANUAL, GRABADO OPT, MONTAJE RADIO, MONTAJE FR4</p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>BGH </mat-card-title>
        <mat-card-subtitle>periodo 2000-2002</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>OPERADOR DE LINEA AIRE COMPACTO</p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>COOPERATIVA LA UNION, HOSPITAL REGIONAL RIO GRANDE </mat-card-title>
        <mat-card-subtitle>periodo 1999-2000</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>MAESTRANZA</p>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header>
        <mat-card-title>ESTUDIO CONTABLE RODULFO ADRIAN </mat-card-title>
        <mat-card-subtitle>periodo 1998</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>ADMINISTRATIVO B , LIBROS IVA VENTAS, IVA COMPRAS , ART, BANCOS</p>
    </mat-card-content>
</mat-card>